@import url('https://webfontworld.github.io/vitro/VitroCore.css');
@import url('https://webfontworld.github.io/mapo/MapoDPP.css');
/* @import url('https://webfontworld.github.io/haenam/haenam.css'); */
@import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css');
@import url('https://webfontworld.github.io/yangjin/YangJin.css');
@import url('https://webfontworld.github.io/tmon/Tmon.css');
@import url('https://webfontworld.github.io/daegu/DalseoDarling.css');
@import url('https://webfontworld.github.io/busan/Busan.css');
@import url('https://webfontworld.github.io/kohi/KOHIBaeum.css');
@import url('https://webfontworld.github.io/nhn/Godo.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

/* reset */
*{
    margin: 0;
    padding: 0;
    color: #fff;
}
*, 
*::before, 
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #222;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
li, ul , ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
em {
    font-style: normal;
}
body {
    background-color: #666;
}

.font01{
    font-family: 'VitroCore';   
}
.font02{
    font-family: 'MapoDPP';   
}
.font03{
    font-family: 'haenam';   
}
.font04{
    font-family: 'TheJamsil';  
}
.font05{
    font-family: 'YangJin';
}
.font06{
    font-family: 'Tmon';
}
.font07{
    font-family: 'DalseoDarling';  
}
.font08{
    font-family: 'busan';  
}
.font09{
    font-family: 'KOHIBaeum';
}
.font10{
    font-family: 'Godo';  
}